Server side.txt
[{"id":"547e1fad.15062","type":"tab","label":"Stockholm & Dashbrd","disabled":false,"info":""},{"id":"a4c62fb3.ac5ce","type":"ui_template","z":"547e1fad.15062","group":"32390add.805476","name":"Map","order":0,"width":"20","height":"12","format":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <title>My Map</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    \n    <style>\n        /* Always set the map height explicitly to define the size of the div\n         * element that contains the map. */\n        #map {\n          height: 100%;\n          /*margin-left: 500px;*/\n          padding: 0;\n    \n        }\n        /* Optional: Makes the sample page fill the window. */\n        body, html{\n          height: 100%;\n          padding: 0;\n        }\n        ol{\n            /*display:none;*/\n            font-weight:bold;\n            list-style-type:none;\n           /* background-color:black; */\n        }\n        li{\n            /*background-color:white; */\n            margin: 1px 0 0 0;\n            list-style-type:none;\n            cursor:pointer;\n            color:#000;\n        }\n        .dropdown-content {\n            display: none;\n            position: absolute;\n            background-color: #097479;\n            min-width: 160px;\n            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n            z-index: 1;\n            margin-left: 140px;\n        }\n        .dropdown-content a {\n          float: none;\n          color: black;\n          padding: 12px 16px;\n          text-decoration: none;\n          display: block;\n          text-align: right;\n          cursor:pointer;\n        }\n\n        .dropdown-content a:hover {\n          background-color: #016064;\n        }\n        .conn_usr{\n            text-align: right;\n            padding: 12px 16px;\n        }\n        \n    </style>\n    \n  </head>\n\n  <body>\n\n  <div id=\"map\"></div>\n  <div class=\"dropdown-content\" id=\"myDropdown\">\n    <p id=\"lgt\" class=\"conn_usr\">Connected user</p>\n    <a onclick=\"theScope.send({payload:0, refresh:'no'})\">Logout</a>\n  </div>\n\n    <script>\n    //watch for new msg\n        theScope = scope;\n        (function(scope) {\n            var p = document.getElementById('lgt');\n            scope.$watch('msg', function(data) {\n                if(data){\n                    p.innerHTML = data.user;\n                    initMap(data);\n                }\n        });\n    })(scope);\n        \n        var stockholm = {lat:59.3293, lng:18.0686};\n        var map;\n        var a = 'a';\n        \n        //maps callback function\n        function initMap(data) {\n        \n        var options={\n          zoom:3,\n          center:stockholm\n        }\n        \n      \n        var infoWindow = new google.maps.InfoWindow();\n        \n        map = new google.maps.Map(document.getElementById('map'), options);\n      \n        //create markers function\n        function _newGoogleMapsMarker(param) {\n            var r = new google.maps.Marker({\n            map: param._map,\n            position: new google.maps.LatLng(param._lat, param._lng),\n            title: param._head,\n            animation: google.maps.Animation.DROP\n        });\n            if (param._data) {\n                google.maps.event.addListener(r, 'click', function() {\n                    // this -> the marker on which the onclick event is being attached\n                    if (!this.getMap()._infoWindow) {\n                        this.getMap()._infoWindow = new google.maps.InfoWindow();\n                    }\n                    this.getMap()._infoWindow.close();\n                    //param._data.style.display=\"block\";\n                    this.getMap()._infoWindow.setContent(param._data);\n                    this.getMap()._infoWindow.open(this.getMap(), this);\n                });\n            }\n            return r;\n    }\n        //Loop through the db result set for markers + infoWindows\n        for (var a = 0; a < data.payload.length; a++) {\n            var tmpLat = data.payload[a].lat;\n            var tmpLng = data.payload[a].lng;\n            var temp=data.payload[a].unitss;\n            var units=temp.split(',');\n                \n            var content = document.createElement('OL');\n            units.forEach(function(unit){\n                var li = document.createElement('LI');\n                li.innerHTML += unit;\n                li.onclick= function(){theScope.send({topic:unit,refresh:'no'})};\n                content.appendChild(li);\n            });\n            \n            var marker = _newGoogleMapsMarker({\n                _map: map,\n                _lat: tmpLat,\n                _lng: tmpLng,\n               _data: content\n            }); \n        \n        } //FOR LOOP\n  \n    }//INITMAP\n      \n\n    </script>\n    \n    <!-- SearchBar script -->\n    <script id=\"titleScript\" type=\"text/javascript\">\n    $('#myID').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/ id=\"myID\">');\n    var input = $('<input/ id=\"inpt\" type=\"text\" name=\"searchTerm\" placeholder=\"Search..\" style=\"font-style:italic; background-color:#016064; border:none\">');\n    var searchBtn = $('<button/  class=\"fa fa-search\" onclick=\"theScope.send({payload:1,topic:takeInput(),refresh:\\'no\\'});\" style=\"height:32px; width:32px; border:none; background:transparent; padding: 8px 15px 8px 5px ; \">');\n    var usrBtn = $('<button/ class=\"dropbtn\" onclick=\"userButton()\" style=\"background:transparent; border:none;\">');\n    var usrIcon = $('<i/ class=\"fa fa-user-circle\">');\n    function takeInput(){\n        var x = document.getElementById(\"inpt\").value;\n        return x;\n    }\n    var dropdown = document.getElementById(\"myDropdown\");\n    usrBtn.append(usrIcon);\n    div.append(input);\n    div.append(searchBtn);\n    div.append(usrBtn);\n    div.append(dropdown);\n    dropdown.style.display='none';\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n    \n    function userButton() {\n      //dropdown.classList.toggle(\"show\");\n      dropdown.style.display = 'block';\n    }\n\n    // Close the dropdown if the user clicks outside of it\n    window.onclick = function(e) {\n      if (!e.target.matches('.dropbtn')) {\n        if (dropdown.style.display=='block') {\n          dropdown.style.display='none';\n        }\n      }\n    } \n\n    theScope.send({payload:a}); //Send something when refreshing page\n    </script> \n    \n    <!-- load maps -->\n    <script src=\"https://maps.googleapis.com/maps/api/js?key=YOUR_GMAPS_API_KEY_HERE&callback=initMap\"\n    async defer></script>\n  </body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":530,"y":580,"wires":[["f154709d.4b4a5","4991b3a5.1347ec","b29da1de.2ec55"]]},{"id":"2574c676.01056a","type":"ui_gauge","z":"547e1fad.15062","name":"Temperature","group":"c57051fe.e9072","order":0,"width":"5","height":"5","gtype":"gage","title":"{{msg.topic}} Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":1410,"y":760,"wires":[]},{"id":"eb6c18d5.d1f768","type":"ui_chart","z":"547e1fad.15062","name":"Spectrum","group":"f6b3ba03.fe81a8","order":0,"width":"24","height":"6","label":"Sensor Data","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"Waiting for data...","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff80ff","#aec7e8","#ff0000","#ffff00","#ff8000","#00ff40","#ff9896","#5440e3","#c5b0d5"],"useOldStyle":false,"x":1420,"y":940,"wires":[[],[]]},{"id":"26ee53d2.c6e62c","type":"ui_ui_control","z":"547e1fad.15062","name":"","x":960,"y":720,"wires":[[]]},{"id":"4b43cf0e.3881b","type":"ui_gauge","z":"547e1fad.15062","name":"Battery level","group":"2510ec2e.812b24","order":0,"width":"5","height":"5","gtype":"wave","title":"{{msg.topic}} Battery Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"6","x":1410,"y":640,"wires":[]},{"id":"df7a1d65.cff4d","type":"ui_chart","z":"547e1fad.15062","name":"Average vals","group":"67629b6a.1be694","order":0,"width":"9","height":"5","label":"Average Values","chartType":"horizontalBar","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Waiting for data...","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff80c0","#0080ff","#ff0000","#ffff00","#ff8000","#00ff00","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1410,"y":880,"wires":[[],[]]},{"id":"da609e9c.d7ad1","type":"tcp in","z":"547e1fad.15062","name":"","server":"server","host":"","port":"7788","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":1700,"y":120,"wires":[[]]},{"id":"c42bb382.9e39d","type":"debug","z":"547e1fad.15062","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1708,"y":315,"wires":[]},{"id":"65ad22f8.6654cc","type":"function","z":"547e1fad.15062","name":"buffer to string","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":180,"wires":[["17dd9a6f.244b36"]]},{"id":"17dd9a6f.244b36","type":"json","z":"547e1fad.15062","name":"","property":"payload","action":"","pretty":false,"x":1690,"y":240,"wires":[["c42bb382.9e39d","29c03ac6.ed7046"]]},{"id":"7da16f38.251b5","type":"function","z":"547e1fad.15062","name":"latest battery","func":"var len = msg.payload.length;\nmsg.topic = msg.payload[len-1].unit;\nmsg.payload = msg.payload[len-1].battery;\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":580,"wires":[["4b43cf0e.3881b"]]},{"id":"b04bf9b4.be2798","type":"function","z":"547e1fad.15062","name":"latest temp","func":"var len = msg.payload.length;\nmsg.topic = msg.payload[len-1].unit;\nmsg.payload = msg.payload[len-1].temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":700,"wires":[["2574c676.01056a"]]},{"id":"fa807e6e.da9be","type":"function","z":"547e1fad.15062","name":"averages","func":"var len = msg.payload.length;\nvar sumViolet = 0;\nvar sumBlue = 0;\nvar sumRed = 0;\nvar sumYellow = 0;\nvar sumOrange = 0;\nvar sumGreen = 0;\nvar sumTemp = 0;\nvar sumLux = 0;\n\nfor(var i=0; i<len; i++)\n{\n    sumViolet += msg.payload[i].violet;\n    sumBlue += msg.payload[i].blue;\n    sumRed += msg.payload[i].red;\n    sumYellow += msg.payload[i].yellow;\n    sumOrange += msg.payload[i].orange;\n    sumGreen += msg.payload[i].green;\n    sumTemp += msg.payload[i].temp;\n    sumLux += msg.payload[i].lux;\n}\n\nmsg.payload = [{\n    \"series\": [\"Violet\",\"Blue\",\"Red\",\"Yellow\",\"Orange\",\"Green\",\"Temp\",\"Lux\"],\n    \"data\": [ [sumViolet/len], [sumBlue/len], [sumRed/len], [sumYellow/len],[sumOrange/len],[sumGreen/len],[sumTemp/len],[sumLux/len] ],\n    \"labels\": [\"Average Values\"]\n}]\n\n/*violet.payload = sumViolet/len;\nviolet.topic=\"Violet\";\nblue.payload = sumBlue/len;\nblue.topic=\"Blue\";\nred.payload = sumRed/len;\nred.topic=\"Red\";\nyellow.payload = sumYellow/len;\nyellow.topic=\"Yellow\";\norange.payload = sumOrange/len;\norange.topic=\"Orange\";\ngreen.payload = sumGreen/len;\ngreen.topic=\"Green\";\ntemp.payload = sumTemp/len;\ntemp.topic=\"Temp\";\nlux.payload = sumLux/len;\nlux.topic=\"Lux\";\n\nreturn [violet,blue,red,yellow,orange,green,temp];*/\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":820,"wires":[["df7a1d65.cff4d"]]},{"id":"29c03ac6.ed7046","type":"function","z":"547e1fad.15062","name":"save in correct tables","func":"var unit = msg.payload.unit;\nvar temp = msg.payload.temp;\nvar lux = msg.payload.lux;\nvar violet = msg.payload.spectrum.violet;\nvar blue = msg.payload.spectrum.blue;\nvar red = msg.payload.spectrum.red;\nvar yellow = msg.payload.spectrum.yellow;\nvar orange = msg.payload.spectrum.orange;\nvar green = msg.payload.spectrum.green;\nvar battery = msg.payload.battery;\n\nmsg.topic=\"INSERT INTO \"+unit+\" \\\n    (unit,lux,violet,blue,red,yellow,\\\n    orange,green,battery,temp) VALUES \\\n    ('\"+unit+\"',\"+lux+\",\"+violet+\",\"+blue+\",\"+red+\",\"+yellow+\",\"+orange+\",\"+green+\",\"+battery+\",\"+temp+\")\";","outputs":1,"noerr":0,"x":1960,"y":240,"wires":[["58a52f21.a0b3"]]},{"id":"93307c81.4d728","type":"ui_date_picker","z":"547e1fad.15062","name":"","label":"From","group":"158ca6b0.e854e9","order":0,"width":"5","height":"2","passthru":false,"topic":"From","x":70,"y":940,"wires":[["a4eaa1e5.90ad4"]]},{"id":"5be99bc2.d71814","type":"ui_date_picker","z":"547e1fad.15062","name":"","label":"To  ","group":"158ca6b0.e854e9","order":0,"width":"5","height":"2","passthru":true,"topic":"To","x":65,"y":987,"wires":[["1ffd55d.8070daa"]]},{"id":"6f22a8d9.6d1868","type":"switch","z":"547e1fad.15062","name":"topic null/notNull","property":"topic","propertyType":"msg","rules":[{"t":"null"},{"t":"empty"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":3,"x":820,"y":540,"wires":[["675af0a2.537e1"],["675af0a2.537e1"],["ddbebdb9.30df3"]]},{"id":"675af0a2.537e1","type":"change","z":"547e1fad.15062","name":"push empty payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":540,"wires":[["6aafa070.69046","eb6c18d5.d1f768","4b43cf0e.3881b","2574c676.01056a","df7a1d65.cff4d"]]},{"id":"3a1ca465.8fd3cc","type":"function","z":"547e1fad.15062","name":"create query","func":"flow.set(\"unit\",msg.unit);\nmsg.topic=\"SELECT * FROM \"+msg.unit;\nmsg.payload = 2;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":760,"wires":[["a0d2cc73.6ebc1","26ee53d2.c6e62c"]]},{"id":"6aafa070.69046","type":"debug","z":"547e1fad.15062","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":500,"wires":[]},{"id":"690a6874.097e08","type":"inject","z":"547e1fad.15062","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":556,"y":461,"wires":[["6f22a8d9.6d1868"]]},{"id":"f05f2fe8.056d3","type":"debug","z":"547e1fad.15062","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":940,"wires":[]},{"id":"8ebd0dbc.d2cf7","type":"function","z":"547e1fad.15062","name":"format data for chart","func":"var dataString = \"[{\\\"series\\\":[\\\"violet\\\",\\\"\\\nblue\\\",\\\"red\\\",\\\"yellow\\\",\\\"orange\\\",\\\"green\\\",\\\"temp\\\",\\\"lux\\\"],\\\n\\\"data\\\":[\";\n\nvar len = msg.payload.length;\n\n//declare arrays of objects\nvar arrViolet = [];\nvar arrBlue = [];\nvar arrRed = [];\nvar arrYellow = [];\nvar arrOrange = [];\nvar arrGreen = [];\nvar arrTemp = [];\nvar arrLux = [];\n//populate arrays with empty objects\nfor(var i=0; i<len; i++)\n{\n    arrViolet.push({});\n    arrBlue.push({});\n    arrRed.push({});\n    arrYellow.push({});\n    arrOrange.push({});\n    arrGreen.push({});\n    arrTemp.push({});\n    arrLux.push({});\n}\n//populate object fields x,y\nfor(var i=0; i<len; i++)\n{\n    var stamp = Date.parse(msg.payload[i].timestamp);\n    \n    arrViolet[i].x = stamp;\n    arrViolet[i].y = msg.payload[i].violet;\n    \n    arrBlue[i].x = stamp;\n    arrBlue[i].y = msg.payload[i].blue;\n    \n    arrRed[i].x = stamp;\n    arrRed[i].y = msg.payload[i].red;\n    \n    arrYellow[i].x = stamp;\n    arrYellow[i].y = msg.payload[i].yellow;\n    \n    arrOrange[i].x = stamp;\n    arrOrange[i].y = msg.payload[i].orange;\n    \n    arrGreen[i].x = stamp;\n    arrGreen[i].y = msg.payload[i].green;\n    \n    arrTemp[i].x = stamp;\n    arrTemp[i].y = msg.payload[i].temp;\n    \n    arrLux[i].x = stamp;\n    arrLux[i].y = msg.payload[i].lux;\n}\n\ndataString += JSON.stringify(arrViolet);\ndataString += \",\";\ndataString += JSON.stringify(arrBlue);\ndataString += \",\";\ndataString += JSON.stringify(arrRed);\ndataString += \",\";\ndataString += JSON.stringify(arrYellow);\ndataString += \",\";\ndataString += JSON.stringify(arrOrange);\ndataString += \",\";\ndataString += JSON.stringify(arrGreen);\ndataString += \",\";\ndataString += JSON.stringify(arrTemp);\ndataString += \",\";\ndataString += JSON.stringify(arrLux);\ndataString += \"],\\\"labels\\\": [\\\"\\\"] }]\";\nmsg.payload = dataString;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":880,"wires":[["f05f2fe8.056d3","66d14092.165b5"]]},{"id":"66d14092.165b5","type":"json","z":"547e1fad.15062","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":940,"wires":[["eb6c18d5.d1f768"]]},{"id":"30a101b2.69d05e","type":"debug","z":"547e1fad.15062","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1038,"y":865,"wires":[]},{"id":"b541b3f.348ea5","type":"function","z":"547e1fad.15062","name":"create query","func":"//msg.topic=\"SELECT * FROM unit1 WHERE timestamp>='\"+msg.payload+\"'\";\nif(msg.topic==\"From\")\n{flow.set(\"from\",msg.payload);}else\nif(msg.topic==\"To\")\n{flow.set(\"to\",msg.payload);}\nif(flow.get(\"from\")!== undefined && flow.get(\"to\")!==undefined)\n{\n    var unit = flow.get(\"unit\");\n    var from = flow.get(\"from\");\n    var to = flow.get(\"to\");\n  //  msg.topic=\"SELECT * FROM unit1 WHERE timestamp>='\"+from+\"'\";\n    msg.topic=\"SELECT * FROM \"+unit+\" WHERE timestamp>='\"+from+\"'\"+\" AND timestamp<'\"+to+\"'\";\n\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":900,"wires":[["be35b569.7ec6f8"]]},{"id":"be35b569.7ec6f8","type":"function","z":"547e1fad.15062","name":"clear flow.from - flow.to","func":"flow.set(\"from\",undefined);\nflow.set(\"to\",undefined);\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":823,"wires":[["a0d2cc73.6ebc1"]]},{"id":"f154709d.4b4a5","type":"debug","z":"547e1fad.15062","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":540,"wires":[]},{"id":"f06d837e.28548","type":"switch","z":"547e1fad.15062","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":700,"wires":[["1dcf3235.c0f5ae"],["3a1ca465.8fd3cc"]]},{"id":"ddbebdb9.30df3","type":"function","z":"547e1fad.15062","name":"check if sensor exists","func":"msg.unit=msg.topic;\nmsg.topic=\"SELECT *  FROM information_schema.tables \\\nWHERE table_schema = 'maps' AND \\\ntable_name = '\"+msg.topic+\"' LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":600,"wires":[["3e9085b4.fea84a"]]},{"id":"3930d62a.8ecb8a","type":"ui_toast","z":"547e1fad.15062","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"wrong device","x":1070,"y":628,"wires":[]},{"id":"1dcf3235.c0f5ae","type":"function","z":"547e1fad.15062","name":"notif","func":"msg.payload=\"Device \"+msg.unit+\" does not exist\";\nmsg.topic=\"\";\nreturn msg;\n\n/*msg.payload=\"Device \"+msg.unit+\" does not exist\";\nmsg.topic=\"\";\nreturn msg;*/","outputs":1,"noerr":0,"x":967,"y":676,"wires":[["3930d62a.8ecb8a"]]},{"id":"ac574140.d62af","type":"function","z":"547e1fad.15062","name":"pin query","func":"msg.topic=\"select * from pins\";\n//msg.topic=\"SELECT lat,lng,unit,position FROM pins join groups USING(position)\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":500,"wires":[["11d93465.fb4b5c"]]},{"id":"d50722d1.3d0b1","type":"link in","z":"547e1fad.15062","name":"","links":["4eb8b070.83261"],"x":75,"y":540,"wires":[["ac574140.d62af"]]},{"id":"4eb8b070.83261","type":"link out","z":"547e1fad.15062","name":"","links":["d50722d1.3d0b1"],"x":528,"y":691,"wires":[]},{"id":"4991b3a5.1347ec","type":"switch","z":"547e1fad.15062","name":"refresh/no refresh","property":"refresh","propertyType":"msg","rules":[{"t":"eq","v":"no","vt":"str"},{"t":"neq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":640,"wires":[["6f22a8d9.6d1868"],["4eb8b070.83261"]]},{"id":"6c0926d6.d44408","type":"comment","z":"547e1fad.15062","name":"TCP server bundle","info":"Messages received by the tcp-out node are formatted\nto be correctly saved in the database","x":1710,"y":65,"wires":[]},{"id":"17080066.0a078","type":"comment","z":"547e1fad.15062","name":"Datepickers","info":"Implement the datepickers visible on the Dashboard\ntab. Both datepickers need to change their values\nin order for a new query to be executed.","x":216,"y":962,"wires":[]},{"id":"8e35f7ea.dba3b8","type":"comment","z":"547e1fad.15062","name":"On map refresh","info":"A character is sent once, through the link nodes,\neverytime the Map scripts run (on page refresh).\nThrough that, the function 'pin query' node is\nre-executed thus loading pins & infoWindows from the\ndatabase. \nRe-execution occures if msg.refresh != \"no\".","x":340,"y":620,"wires":[]},{"id":"b38ce255.af25e","type":"inject","z":"547e1fad.15062","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":790,"y":40,"wires":[["3fc825ff.a7faba"]]},{"id":"8f79b165.f1faa","type":"ui_form","z":"547e1fad.15062","name":"Login","label":"Log in","group":"ebf52932.4a65d8","order":0,"width":0,"height":0,"options":[{"label":"Username","value":"usr","type":"text","required":true},{"label":"Password","value":"pwd","type":"password","required":true}],"formValue":{"usr":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":80,"wires":[["bc8026f.6ed5fd8"]]},{"id":"bc8026f.6ed5fd8","type":"function","z":"547e1fad.15062","name":"search db","func":"msg.topic = \"SELECT COUNT(*) FROM users \\\nWHERE username= '\"+msg.payload.usr+\"' \\\nAND password='\"+msg.payload.pwd+\"'\";\n\nflow.set(\"user\",msg.payload.usr);\n\nreturn msg;","outputs":1,"noerr":0,"x":80,"y":140,"wires":[["a200104d.c1c22"]]},{"id":"203f1114.ce70de","type":"switch","z":"547e1fad.15062","name":"user found/not found","property":"payload[0]['COUNT(*)']","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":300,"wires":[["6e7c7b38.f77c74"],["ac574140.d62af","c312ccb3.2dbf6","fec7cde7.22d93"]]},{"id":"e3a246c3.566ac8","type":"change","z":"547e1fad.15062","name":"notif","rules":[{"t":"set","p":"payload","pt":"msg","to":"Username or password incorrect","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["59c72cd3.5ae164"]]},{"id":"d33f2621.70e0d8","type":"change","z":"547e1fad.15062","name":"delete topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["e3a246c3.566ac8"]]},{"id":"59c72cd3.5ae164","type":"ui_toast","z":"547e1fad.15062","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"wrong user","x":350,"y":20,"wires":[]},{"id":"997c8827.7012e8","type":"ui_ui_control","z":"547e1fad.15062","name":"","x":809,"y":127,"wires":[[]]},{"id":"3fc825ff.a7faba","type":"function","z":"547e1fad.15062","name":"init conn/hide all","func":"flow.set(\"conn\",false);\nmsg.payload = {group:{show:[\"Login_LoginForm\"],hide:[\"Map_Map\",\"Dashboard_Average\",\"Dashboard_Datepickers\",\"Dashboard_Spectrum\",\"Dashboard_Temperature\",\"Dashboard_Level\",\"Settings_LogOut\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":812,"y":81,"wires":[["997c8827.7012e8"]]},{"id":"542f3fe5.e3539","type":"ui_ui_control","z":"547e1fad.15062","name":"","x":534,"y":276,"wires":[[]]},{"id":"ce45d74b.77ab88","type":"ui_ui_control","z":"547e1fad.15062","name":"","x":648,"y":341,"wires":[[]]},{"id":"c312ccb3.2dbf6","type":"change","z":"547e1fad.15062","name":"GOTO map","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":378,"y":276,"wires":[["542f3fe5.e3539"]]},{"id":"fec7cde7.22d93","type":"function","z":"547e1fad.15062","name":"set conn/show all","func":"flow.set(\"conn\",true);\nmsg.payload = {group:{hide:[\"Login_LoginForm\"],show:[\"Map_Map\",\"Dashboard_Average\",\"Dashboard_Datepickers\",\"Dashboard_Spectrum\",\"Dashboard_Temperature\",\"Dashboard_Level\",\"Settings_LogOut\"]}};\nmsg.user = flow.get(\"user\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["ce45d74b.77ab88","243736a0.c5653a","35bc3e36.dee952"]]},{"id":"f1f77f98.52c8b","type":"function","z":"547e1fad.15062","name":"init conn/hide all","func":"flow.set(\"conn\",false);\nmsg.payload = {group:{show:[\"Login_LoginForm\"],hide:[\"Map_Map\",\"Dashboard_Average\",\"Dashboard_Datepickers\",\"Dashboard_Spectrum\",\"Dashboard_Temperature\",\"Dashboard_Level\",\"Settings_LogOut\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":320,"wires":[["5626d135.1382c"]]},{"id":"3de51c66.6d6e54","type":"ui_ui_control","z":"547e1fad.15062","name":"","x":1240,"y":280,"wires":[[]]},{"id":"5626d135.1382c","type":"ui_ui_control","z":"547e1fad.15062","name":"","x":1420,"y":320,"wires":[[]]},{"id":"243736a0.c5653a","type":"ui_template","z":"547e1fad.15062","group":"158ca6b0.e854e9","name":"Dashboard toolbar","order":0,"width":"5","height":"1","format":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <title>My Map</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    \n    <style>\n         .dropdown-content {\n            display: none;\n            position: absolute;\n            background-color: #097479;\n            min-width: 160px;\n            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n            z-index: 1;\n            margin-left: 140px;\n        }\n        .dropdown-content a {\n          float: none;\n          color: black;\n          padding: 12px 16px;\n          text-decoration: none;\n          display: block;\n          text-align: right;\n        }\n\n        .dropdown-content a:hover {\n          background-color: #016064;\n          cursor:pointer;\n        }\n        .conn_usr{\n            text-align: right;\n            padding: 12px 16px;\n        }\n    </style>\n  </head>\n  <body>\n    <div class=\"dropdown-content\" id=\"myDropdown\">\n        <p id=\"lgt\" class=\"conn_usr\"></p>\n        <a onclick=\"theScope.send({payload:0})\">Logout</a>\n    </div>\n    <script id=\"titleScript\" type=\"text/javascript\">\n        (function(scope) {\n            scope.$watch('msg', function(msg) {\n                var p = document.getElementById('lgt')\n                if (msg) {\n                    // Do something when msg arrives\n                    p.innerHTML = msg.user;\n                }\n            });\n        })(scope);\n        var theScope = scope;\n        $('#myID').remove();\n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/ id=\"myID\">');\n        var input = $('<input/ id=\"inpt\" type=\"text\" name=\"searchTerm\" placeholder=\"Search..\" style=\"font-style:italic; background-color:#016064; border:none\">');\n        var searchBtn = $('<button/  class=\"fa fa-search\" onclick=\"theScope.send({payload:1,topic:takeInput(),refresh:\\'no\\'});\" style=\"height:32px; width:32px; border:none; background:transparent; padding: 8px 15px 8px 5px ; \">');\n        var usrBtn = $('<button/ class=\"dropbtn\" onclick=\"userButton()\" style=\"background:transparent; border:none;\">');\n        var usrIcon = $('<i/ class=\"fa fa-user-circle\">');\n        function takeInput(){\n            var x = document.getElementById(\"inpt\").value;\n            return x;\n        }\n        var dropdown = document.getElementById(\"myDropdown\");\n        usrBtn.append(usrIcon);\n        div.append(input);\n        div.append(searchBtn);\n        div.append(usrBtn);\n        div.append(dropdown);\n        dropdown.style.display='none';\n        div[0].style.margin = '5px 5px 5px auto';\n        toolbar.append(div);\n        \n        function userButton() {\n          //dropdown.classList.toggle(\"show\");\n          dropdown.style.display = 'block';\n        }\n    \n        // Close the dropdown if the user clicks outside of it\n        window.onclick = function(e) {\n          if (!e.target.matches('.dropbtn') && !e.target.matches('.dropdown-content')) {\n            if (dropdown.style.display=='block') {\n              dropdown.style.display='none';\n            }\n          }\n        } \n    </script>\n  </body>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":750,"y":280,"wires":[["f4d5395e.35ce38"]]},{"id":"785a0815.1f5368","type":"ui_template","z":"547e1fad.15062","group":"ebf52932.4a65d8","name":"Login page toolbar","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta charset=\"utf-8\">\n    \n    \n  </head>\n  <body>\n    \n    <script id=\"titleScript\" type=\"text/javascript\">\n        $('#myID').remove();\n    </script>\n  </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":20,"wires":[[]]},{"id":"b29da1de.2ec55","type":"switch","z":"547e1fad.15062","name":"logout/no logout","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":280,"wires":[["3de51c66.6d6e54","f1f77f98.52c8b"],[]]},{"id":"b284fef0.d3dfe","type":"comment","z":"547e1fad.15062","name":"Initialize dashboard nodes","info":"In case msg.topic is empty or null,\npush an empty payload to all the dashboard nodes\nto initialize them.\n\nEmpty/null(+undefined) topic equals Logout and/or\nother Map action not related to the dashboard","x":1050,"y":500,"wires":[]},{"id":"40ca0082.65f51","type":"comment","z":"547e1fad.15062","name":"Logout & Dashboard toolbar","info":"\"Dashboard toolbar\" template node contains the\ntoolbar script that all tabs must share.\n\nLogout triggers with payload:0 which indicates a\nclick on the < a > item on the dropdown list under\nuser icon. Navigate to login page, initialize & hide\nall other groups.","x":860,"y":240,"wires":[]},{"id":"6e7c7b38.f77c74","type":"change","z":"547e1fad.15062","name":"Del flow.user","rules":[{"t":"delete","p":"user","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":195,"wires":[["d33f2621.70e0d8"]]},{"id":"35bc3e36.dee952","type":"debug","z":"547e1fad.15062","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":494,"y":396,"wires":[]},{"id":"f4d5395e.35ce38","type":"switch","z":"547e1fad.15062","name":"logout/no logout","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":320,"wires":[["3de51c66.6d6e54","f1f77f98.52c8b","675af0a2.537e1"],["6f22a8d9.6d1868"]]},{"id":"2a7fbbd7.0338a4","type":"function","z":"547e1fad.15062","name":"add msg.user","func":"msg.user = flow.get(\"user\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["a4c62fb3.ac5ce","b0b622dc.88e7f"]]},{"id":"b0b622dc.88e7f","type":"debug","z":"547e1fad.15062","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":500,"wires":[]},{"id":"58a52f21.a0b3","type":"mysql","z":"547e1fad.15062","mydb":"7a8a9c64.9f6504","name":"saveToDB","x":1950,"y":180,"wires":[[]]},{"id":"a0d2cc73.6ebc1","type":"mysql","z":"547e1fad.15062","mydb":"7a8a9c64.9f6504","name":"DB","x":770,"y":820,"wires":[["8ebd0dbc.d2cf7","30a101b2.69d05e","7da16f38.251b5","b04bf9b4.be2798","fa807e6e.da9be"]]},{"id":"3e9085b4.fea84a","type":"mysql","z":"547e1fad.15062","mydb":"7a8a9c64.9f6504","name":"","x":790,"y":640,"wires":[["f06d837e.28548"]]},{"id":"11d93465.fb4b5c","type":"mysql","z":"547e1fad.15062","mydb":"7a8a9c64.9f6504","name":"","x":210,"y":540,"wires":[["2a7fbbd7.0338a4"]]},{"id":"a200104d.c1c22","type":"mysql","z":"547e1fad.15062","mydb":"7a8a9c64.9f6504","name":"","x":90,"y":200,"wires":[["203f1114.ce70de"]]},{"id":"a4eaa1e5.90ad4","type":"moment","z":"547e1fad.15062","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Stockholm","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Stockholm","x":240,"y":900,"wires":[["b541b3f.348ea5"]]},{"id":"1ffd55d.8070daa","type":"moment","z":"547e1fad.15062","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Stockholm","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Stockholm","x":240,"y":1020,"wires":[["b541b3f.348ea5"]]},{"id":"32390add.805476","type":"ui_group","z":"","name":"Map","tab":"ffeb2e03.25d2","disp":false,"width":"20","collapse":false},{"id":"c57051fe.e9072","type":"ui_group","z":"","name":"Temperature","tab":"c64f5ba4.dc5de8","order":2,"disp":false,"width":"5","collapse":false},{"id":"f6b3ba03.fe81a8","type":"ui_group","z":"","name":"Spectrum","tab":"c64f5ba4.dc5de8","order":1,"disp":false,"width":"24","collapse":false},{"id":"2510ec2e.812b24","type":"ui_group","z":"","name":"Level","tab":"c64f5ba4.dc5de8","order":4,"disp":false,"width":"5","collapse":false},{"id":"67629b6a.1be694","type":"ui_group","z":"","name":"Average","tab":"c64f5ba4.dc5de8","order":3,"disp":false,"width":"9","collapse":false},{"id":"158ca6b0.e854e9","type":"ui_group","z":"","name":"Datepickers","tab":"c64f5ba4.dc5de8","order":5,"disp":false,"width":"5","collapse":false},{"id":"ebf52932.4a65d8","type":"ui_group","z":"","name":"LoginForm","tab":"bb21db05.5042a8","disp":false,"width":"6","collapse":false},{"id":"7a8a9c64.9f6504","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"maps","tz":""},{"id":"ffeb2e03.25d2","type":"ui_tab","z":"","name":"Map","icon":"map","order":2},{"id":"c64f5ba4.dc5de8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":3},{"id":"bb21db05.5042a8","type":"ui_tab","z":"","name":"Login","icon":"fa-user-circle","order":1}]